<%- include ../partials/dashHeader%>

    <div class="row container-fluid">
        <%posts.forEach(function(post){%>
            <div class="col-lg-4 ">
                <div class="card" style="width: 18rem;">
                    <img src="<%= post.featureImage%>" class="card-img-top" alt="<%= post.title%>">
                    <div class="card-body">
                      <h5 class="card-title"><%= post.title%></h5>
                      <p class="card-text"></p>
                      <a href="/api/post/view/<%= post._id%>" class="btn btn-circle btn-primary"><i class="far fa-eye"></i></a>
                      <% if(user){%>
                        <a href="/api/post/edit/<%= post._id%>" class="btn btn-circle btn-warning"><i class="far fa-edit"></i></a>
                         <a href="/api/post/delete/<%= post._id%>" class="btn btn-circle btn-danger"><i class="fas fa-trash"></i></a>
                      <%}%>  
                      
                    </div>
                  </div>

                
            </div>
        <%})%>
    </div>
<%- include ../partials/dashFooter%>
