<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Edit Blog Post</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Holidayincroatia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/api/hotels">Hotels</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="/api/hotels/add-new-property">Add New Hotel</a>
            </li>
            <%if(user){%>
            
            <li class="nav-item">
                 <a class="nav-link" href="/users/dash"><%= user.name%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
         </li>
                
              <%}else{%>  
            <li class="nav-item">
    
                <a class="nav-link" href="/users/login">Login</a>
            </li>
    
    
                <%}%>
          </ul>
          
        </div>
      </nav>
      <br><br><br>
    <div class="container">
        <a href="/api/post/view/<%= post._id%>">View</a>
        <%if(!user){%>
            <center>Plz <a href="/users/login">Login</a>  To Add</center>
            <%}%>

        <div class="">
            <form action="/api/post/edit/<%= post._id%>?_method=PUT"method="POST">
                <div class="form-group">

                    <label for="titleInput">Title</label>
                    <input type="text" name="title" value="<%= post.title%>" class="form-control" id="titleInput">
                </div>
                <div class="form-group">

                    <label for="featureImage">Image Link</label>
                    <input type="text" name="featureImage" value="<%= post.featureImage%>" class="form-control" id="featureImage">
                </div>
                <div class="form-group">
                    <label for="excerpt">excerpt</label>

                        <textarea class="form-control" name="excerpt" rows="3"><%= post.excerpt%></textarea>
                </div>

                <div class="form-group">
                    <label for="data">Data</label>

                        <textarea class="form-control" name="data" rows="8">
                            <%= post.data%>
                        </textarea>
                </div>
                <div class="form-group">
                  <label for="metaDescription">Meta Description</label>

                      <textarea class="form-control" name="metaDescription" rows="8"></textarea>
              </div>
                <div class="form-group">
                   
                        <input type="submit" class="form-control btn-primary" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>